.contact {
  padding: 50px;
  background-color: var(--non-photo-blue); /* Updated background color */
  text-align: center;
}

.contact h2 {
  color: var(--federal-blue); /* Updated heading color */
  font-size: 30px;
  margin-bottom: 20px;
}

.contact p {
  font-size: 18px;
  color: var(--honolulu-blue); /* Updated paragraph text color */
}

footer p {
  margin-top: 50px;
  color: var(--pacific-cyan); /* Updated footer text color */
}
