.home {
  display: flex;
  align-items: center;
  padding: 50px;
  background-color: #ffffff;
}

.content {
  flex: 1;
  text-align: left;
  padding-right: 20px;
}

.home h1 {
  color: #003366;
  font-size: 40px;
  margin-bottom: 20px;
}

.home p {
  font-size: 18px;
  color: #333;
  margin-bottom: 30px;
}

.read-more {
  background-color: #003366;
  color: white;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 25px;
}

.read-more:hover {
  background-color: #002244;
}

.image-container {
  flex: 1;
}

.image-container img {
  max-width: 100%;
  height: auto;
}
