.home {
  display: flex;
  align-items: center;
  padding: 50px;
  background-color: white; /* Updated background color */
}

.content {
  flex: 1;
  text-align: left;
  padding-right: 20px;
}

.home h1 {
  color: var(--federal-blue); /* Updated heading color */
  font-size: 40px;
  margin-bottom: 20px;
}

.home p {
  font-size: 18px;
  color: var(--honolulu-blue); /* Updated paragraph text color */
  margin-bottom: 30px;
}

.read-more {
  background-color: var(--pacific-cyan); /* Updated button background color */
  color: white;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 25px;
  transition: background-color 0.3s ease; /* Added transition for hover effect */
}

.read-more:hover {
  background-color: var(--non-photo-blue); /* Updated hover color */
}

.image-container {
  flex: 1;
}

.image-container img {
  max-width: 100%;
  height: auto;
}
