/* src/assets/CSS/EventList.css */
.event-list {
    background-color: #2b2d42;
    padding: 20px;
    border-radius: 10px;
    color: white;
    flex: 1;
  }
  
  .event-list h4 {
    margin-bottom: 20px;
  }
  
  .event-item {
    background-color: #4a4e69;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .event-time, .event-name, .event-tickets {
    margin: 5px 0;
  }
  