/* src/assets/CSS/Sidebar.css */

.sidebar {
  width: 250px;
  background-color: #343a40;
  position: fixed; /* Fix the sidebar to the left side of the screen */
  top: 60px; /* Position below the navbar */
  left: 0;
  height: calc(100vh - 60px); /* Full viewport height minus the navbar's height */
  overflow-y: auto; /* Make the sidebar scrollable if content overflows */
  padding-top: 20px; /* Add some padding to the top */
  padding-bottom: 20px; /* Ensure some padding at the bottom */
  z-index: 1000; /* Keep sidebar above other content */
}

.menu-item {
  height: 60px; /* Set a fixed height for each menu item */
  display: flex; /* Use flexbox to center content vertically */
  align-items: center; /* Vertically center the text within the menu item */
  padding: 0 30px; /* Horizontal padding */
  margin-bottom: 5px;
  font-size: 1.6rem; /* Larger font size */
  border-radius: 3px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  color: #ffffff;
  text-decoration: none; /* Remove underline from links */
}

.menu-item:hover {
  background-color: #495057;
  color: #ffffff;
}

.menu-item.active {
  background-color: #495057; /* Highlight the active menu item */
  color: #ffffff;
}
