/* src/styles.css */

/* Hero Section */
.hero-section {
    background: url('../img/pexels-olia-danilevich-5088017.jpg') no-repeat center center;
    background-size: cover;
    padding: 100px 0;
    color: #fff;
  }
  
  .hero-title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .hero-subtitle {
    font-size: 24px;
    margin-bottom: 40px;
  }
  
  .hero-button {
    padding: 10px 30px;
    font-size: 18px;
  }
  
  /* Announcements Section */
  .section-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .announcement-card {
    background-color: #f8f9fa;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .announcement-card .card-title {
    font-size: 22px;
    font-weight: bold;
  }
  
  /* Quick Links Section */
  .quick-links-card {
    background-color: #fffefe;
    color: #fff;
    border: none;
    padding: 20px;
  }
  
  .quick-links-card .card-link {
    color: #734d4d;
    font-size: 18px;
  }
  
  .quick-links-card .card-link:hover {
    text-decoration: underline;
  }
  
  /* General Styles */
  body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
  }
  
  h1, h2, h3 {
    color: #343a40;
  }
  